In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("stock_prices_latest.csv")

In [3]:
df

,symbol,date,open,high,low,close,close_adjusted,volume,split_coefficient
0,MSFT,2016-05-16,50.800,51.96,50.7500,51.83,49.7013,20032017,1.0
1,MSFT,2002-01-16,68.850,69.84,67.8500,67.87,22.5902,30977700,1.0
2,MSFT,2001-09-18,53.410,55.00,53.1700,54.32,18.0802,41591300,1.0
3,MSFT,2007-10-26,36.010,36.03,34.5600,35.03,27.2232,288121200,1.0
4,MSFT,2014-06-27,41.610,42.29,41.5100,42.25,38.6773,74640000,1.0
...,...,...,...,...,...,...,...,...,...
24395011,HA,2021-06-03,25.510,26.19,24.9389,25.92,25.9200,1287065,1.0
24395012,HA,2021-06-04,26.160,26.69,25.9400,26.04,26.0400,993843,1.0
24395013,HA,2021-06-10,29.790,29.97,26.1100,26.20,26.2000,2402349,1.0
24395014,HA,2021-06-07,26.210,26.35,25.7400,26.00,26.0000,514048,1.0
24395015,HA,2021-06-11,26.865,28.83,26.4200,28.83,28.8300,6595595,1.0

In [4]:
df['date'] = pd.to_datetime(df['date'])

In [11]:
df = df.set_index('date', drop=True).sort_index().loc['2001-01-01':]

In [12]:
df.head()

,symbol,open,high,low,close,close_adjusted,volume,split_coefficient
date,,,,,,,,
2001-01-02,DCOM,24.760,25.370,24.75,25.120,4.1034,40385,1.0
2001-01-02,HRTX,2.375,2.375,2.25,2.313,185.0400,24000,1.0
2001-01-02,STAA,12.640,13.380,11.94,12.880,12.8800,104000,1.0
2001-01-02,INAP,7.310,7.310,6.50,6.690,267.6000,1739000,1.0
2001-01-02,NRIM,10.250,10.250,10.00,10.000,6.2998,11800,1.0

In [16]:
df = df.drop(columns=['close', 'open', 'high', 'low', 'volume', 'split_coefficient'])

In [17]:
df.head()

           symbol  close_adjusted
date
2001-01-02   DCOM          4.1034
2001-01-02   HRTX        185.0400
2001-01-02   STAA         12.8800
2001-01-02   INAP        267.6000
2001-01-02   NRIM          6.2998

In [19]:
df['return'] = df.sort_index().groupby('symbol').pct_change()
df

           symbol  close_adjusted    return
date
2001-01-02   DCOM          4.1034       NaN
2001-01-02   HRTX        185.0400       NaN
2001-01-02   STAA         12.8800       NaN
2001-01-02   INAP        267.6000       NaN
2001-01-02   NRIM          6.2998       NaN
...           ...             ...       ...
2021-06-14   EPIX         27.1700  0.014184
2021-06-14   GOOD         23.1100  0.015378
2021-06-14   FFBC         24.9100 -0.016193
2021-06-14   EPAY         37.7500  0.002390
2021-06-14   EAST          3.0500 -0.012945

[22749151 rows x 3 columns]

In [40]:
# Partition by year, dropping 'close_adjusted' column
dfs = {}
for year in range(2001, 2026):
    start = f'{year}-01-01'
    end = f'{year}-12-31'
    df_year = df.loc[start:end].drop(columns=['close_adjusted'])
    if not df_year.empty:
        dfs[year] = df_year

In [41]:
# Save each yearly partition to CSV
for year, df_year in dfs.items():
    df_year.to_csv(f'data_{year}.csv')